<section class="row">
    <h1> {{pageTitle}} </h1>

    <aside class="col-sm-3">
        <h3>Резултати</h3>

        <div class="col-sm-12">
            <h4> Цена в лева </h4>
            <rzslider rz-slider-model="slider.minValue" rz-slider-high="slider.maxValue" rz-slider-options="slider.options"></rzslider>
        </div>

        <div class="col-sm-12">
            <h4>Марка</h4>
            <ul>
                <li ng-repeat="brand in brands"><input type="checkbox" ng-model='search.brand' ng-true-value="'{{brand}}'" ng-false-value=''> {{brand}} </li>
            </ul>
        </div>
        <div class="col-sm-12">
            <h4>Общ капацитет</h4>
            <ul>
                <li ng-repeat="tc in totalCapacity"><input type="checkbox" ng-model='search.tc' ng-true-value="'{{tc}}'" ng-false-value=''> {{tc}} </li>
            </ul>
        </div>
        <div class="col-sm-12">
            <h4>Капацитет на хладилника</h4>
            <ul>
                <li ng-repeat="cf in capacitiesF"><input type="checkbox" ng-model='search.cf' ng-true-value="'{{cf}}'" ng-false-value=''> {{cf}} </li>
            </ul>
        </div>
        <div class="col-sm-12">
            <h4>Капацитет на фризера</h4>
            <ul>
                <li ng-repeat="cr in capacitiesR"><input type="checkbox" ng-model='search.cr' ng-true-value="'{{cr}}'" ng-false-value=''> {{cr}} </li>
            </ul>
        </div>
    </aside>
    <div class="col-sm-8 productsListing">
        <article class="col-sm-12" ng-repeat="fridge in fridges | filter:search.brand | filter:search.tc | filter:search.type | filter:search.cf | filter:search.cr | sizeFilter:slider">
            <span class="col-sm-2"><img ng-src="{{fridge.pictures[0]}}" alt=""/></span>
            <div class="col-sm-7 fridgeInfo">
                <h4> {{fridge.title}} </h4>
                <ul>
                    <li>Общ капацитет: {{fridge.totalCapacity}} </li>
                    <li>Височина: {{fridge.height}} </li>
                    <li>Енергиен клас: {{fridge.energyClass}} </li>
                </ul>
            </div>
            <span class="purchase col-sm-3"><h3> {{fridge.price}}<sup>00</sup> лв</h3> <br>
                 <button class="buy btn btn-danger" ng-click='addToCart(fridge)'>КУПИ</button> <br>
                <button class="info btn btn-info"><a ng-href="./homeappliances/fridges/{{fridge._id}}">ВИЖ ОЩЕ</a></button>
             </span>
            <br><br>
            <div class="row">
                <a href="#" ng-click="addToFavorites(fridge)" class="btn btn-link favorite" style="color:rgb(32,83,178)"><i><img src="http://icons.iconarchive.com/icons/graphicloads/100-flat/256/heart-favourite-icon.png" alt=""></i> Добави в любими</a>
                <a href="#" ng-click="addToCompare(fridge)" class="btn btn-link compare" style="color:rgb(32,83,178)"><i><img src="https://cdn2.iconfinder.com/data/icons/flat-arrows/100/arrow-04-128.png" alt=""></i> Сравни</a>
            </div>
        </article>
    </div>
</section>