<div class="row">
    <a ng-href="homeappliances/ovens" class="col-md-4">
        <article>
            <h4 style="margin-left:3em">Готварски печки</h4>
            <br>
            <img src="./images/oven.jpg" alt="">
        </article>
    </a>
    <a ng-href="homeappliances/fridges" class="col-md-4">
        <article>
            <h4 style="margin-left:3em">Хладилници</h4>
            <br>
            <img src="./images/fridge.jpg" alt="">
        </article>
    </a>
    <a ng-href="homeappliances/washing-machines" class="col-md-4">
        <article>
            <h4 style="margin-left:3em">Перални</h4>
            <br>
            <img src="./images/washC.jpg" alt="">
        </article>
    </a>
</div>