<section class="row">
    <h1> {{pageTitle}} </h1>

    <aside class="col-sm-3">
        <h3>Резултати</h3>

        <div class="col-sm-12">
            <h4> Цена в лева </h4>
            <rzslider rz-slider-model="slider.minValue" rz-slider-high="slider.maxValue" rz-slider-options="slider.options"></rzslider>
        </div>

        <div class="col-sm-12">
            <h4>Марка</h4>
            <ul>
                <li ng-repeat="brand in brands"><input type="checkbox" ng-model='search.brand' ng-true-value="'{{brand}}'" ng-false-value=''> {{brand}} </li>
            </ul>
        </div>
        <div class="col-sm-12">
            <h4>Цвят</h4>
            <ul>
                <li ng-repeat="color in colors"><input type="checkbox" ng-model='search.color' ng-true-value="'{{color}}'" ng-false-value=''> {{color}} </li>
            </ul>
        </div>
        <div class="col-sm-12">
            <h4>Вместимост</h4>
            <ul>
                <li ng-repeat="capacity in capacities"><input type="checkbox" ng-model='search.capacity' ng-true-value="'{{capacity}}'" ng-false-value=''> {{capacity}} </li>
            </ul>
        </div>
    </aside>
    <div class="col-sm-8 productsListing">
        <article class="col-sm-12" ng-repeat="microwave in microwaves | filter:search.brand | filter:search.color | filter:search.capacity | sizeFilter:slider">
            <span class="col-sm-2"><img ng-src="{{microwave.pictures[0]}}" alt=""/></span>
            <div class="col-sm-7" class="microwaveInfo">
                <h4> {{microwave.title}} </h4>
                <ul>
                    <li>Вместимост: {{microwave.capacity}} </li>
                    <li>Мощност: {{microwave.maxpower}} </li>
                </ul>
            </div>
            <span class="purchase col-sm-3"><h3> {{microwave.price}}<sup>00</sup> лв</h3>
                    <br>
                    <button class="buy btn btn-danger" ng-click='addToCart(microwave)'>КУПИ</button>
                    <br>
                    <button class="info btn btn-info"><a ng-href="./smallappliances/microwave-ovens/{{microwave._id}}">ВИЖ ОЩЕ</a></button>
                </span>
            <br><br>
            <div class="row">
                <a href="#" ng-click="addToFavorites(microwave)" class="btn btn-link favorite" style="color:rgb(32,83,178)"><i><img src="http://icons.iconarchive.com/icons/graphicloads/100-flat/256/heart-favourite-icon.png" alt=""></i> Добави в любими</a>
                <a href="#" ng-click="addToCompare(microwave)" class="btn btn-link compare" style="color:rgb(32,83,178)"><i><img src="https://cdn2.iconfinder.com/data/icons/flat-arrows/100/arrow-04-128.png" alt=""></i> Сравни</a>
            </div>
        </article>
    </div>
</section>