<div class="productsInfo" ng-repeat="oven in ovens">
    <div class="row">
        <h1>{{oven.title}}</h1>
        <hr>
        <div class="col-md-5">
            <img class="thumbnail" ng-src="{{oven.pictures[0]}}" alt="">
        </div>
        <div class="col-md-4">
            <div class="col-md-12 price">
                <h3> {{oven.price}}<sup>00</sup>лв </h3>
                <button class="btn btn-danger pull-right" ng-click='addToCart(oven)'>Купи</button>
                <hr>
                <a href="#" ng-click="addToFavorites(oven)" class="btn btn-link pull-left" style="color:rgb(32,83,178)"><i><img src="http://icons.iconarchive.com/icons/graphicloads/100-flat/256/heart-favourite-icon.png" alt=""></i> Добави в любими</a>
                <a href="#" ng-click="addToCompare(oven)" class="btn btn-link" style="color:rgb(32,83,178)"><i><img src="https://cdn2.iconfinder.com/data/icons/flat-arrows/100/arrow-04-128.png" alt=""></i> Сравни</a>
            </div>
            <div class="col-md-12">
                <ul>
                    <li><strong>Брой функции:</strong> {{oven.functions}}</li>
                    <li><strong>Енергиен клас:</strong> {{oven.energyClass}}</li>
                    <li><strong>Обем на фурната:</strong> {{oven.capacity}}</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row" class="characteristics">
        <ul class="nav nav-tabs">
            <li><a data-toggle="tab">Характеристика</a></li>
        </ul>
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade active in">
                <table class="table table-striped table-hover ">
                    <tbody>
                        <tr>
                            <td>МАРКА</td>
                            <td>{{oven.brand}}</td>
                        </tr>
                        <tr>
                            <td>МОДЕЛ</td>
                            <td> {{oven.model}} </td>
                        </tr>
                        <tr>
                            <td>ВИСОЧИНА</td>
                            <td> {{oven.height}} </td>
                        </tr>
                        <tr>
                            <td>ШИРИНА</td>
                            <td> {{oven.width}} </td>
                        </tr>
                        <tr>
                            <td>ДЪЛБОЧИНА</td>
                            <td> {{oven.depth}} </td>
                        </tr>
                        <tr>
                            <td>БРОЙ ФУНКЦИИ</td>
                            <td> {{oven.functions}} </td>
                        </tr>
                        <tr>
                            <td>ЕНЕРГИЕН КЛАС</td>
                            <td> {{oven.energyClass}} </td>
                        </tr>
                        <tr>
                            <td>ОБЕМ НА ФУРНАТА</td>
                            <td> {{oven.capacity}} </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>