<section class="row">
    <h1> {{pageTitle}} </h1>
    <div id='sort' style='float:right'>
            <span style='font-size:1.8em'> Сортирай по: </span>
            <button class='btn btn-primary' ng-click='togglePrice = !togglePrice'> ЦЕНА </button>
            
            </div>
    <aside class="col-sm-3">
        <h3>Резултати</h3>
        <div>
            <h4> Цена в лева </h4>
            <rzslider rz-slider-model="slider.minValue" rz-slider-high="slider.maxValue" rz-slider-options="slider.options"></rzslider>
        </div>
        <div>
            <div class="col-sm-12">
                <h4>Марка</h4>
                <ul>
                    <li ng-repeat="brand in brands"><input type="checkbox" ng-model='search.brand' ng-true-value="'{{brand}}'" ng-false-value=''> {{brand}} </li>
                </ul>
            </div>
            <div class="col-sm-12">
                <h4>Размер на екрана в инчове</h4>
                <ul>
                    <li ng-repeat="ds in displaySizes"><input type="checkbox" ng-model='search.displaysize' ng-true-value="'{{ds}}'" ng-false-value=''> {{ds}} </li>
                </ul>
            </div>
            <div class="col-sm-12">
                <h4>Задна камера</h4>
                <ul>
                    <li ng-repeat="rc in rearCameras"><input type="checkbox" ng-model='search.rc' ng-true-value="'{{rc}}'" ng-false-value=''> {{rc}} </li>
                </ul>
            </div>
            <div class="col-sm-12">
                <h4>Вградена памет</h4>
                <ul>
                    <li ng-repeat="im in iternalMemory"><input type="checkbox" ng-model='search.im' ng-true-value="'{{im}}'" ng-false-value=''> {{im}} </li>
                </ul>
            </div>
    </aside>
    <div class="col-sm-8 productsListing" ng-controller='adminCtrl'>
        
        <article class='animate' class="col-sm-12" ng-repeat="phone in phones | orderBy: !togglePrice?'price':'-price' | filter:search.brand | filter:search.displaysize:true | filter:search.rc | filter:search.im | sizeFilter:slider">
            <span class="col-sm-2" style="float:left"><img ng-src="{{phone.pictures[0]}}" alt=""/></span>


            <div class="col-sm-7" class="phoneInfo">
                <h4> {{phone.title}} </h4>
                <ul>
                    <li>Процесор: {{phone.cpu}} </li>
                    <li>Размер на екрана в INCH: {{phone.displaysize}} </li>
                    <li>Батерия: {{phone.battery}}</li>
                    <li>DUAL SIM</li>
                </ul>
            </div>
            <span class="purchase col-sm-3"><h3> {{phone.price}}<sup>00</sup> лв</h3>
                <br>
                <button class="buy btn btn-danger" ng-click='addToCart(phone)'>КУПИ</button>
                <br>
                <button class="info btn btn-info"><a ng-href="./phones/{{phone._id}}">ВИЖ ОЩЕ</a></button>
                
            </span>
            <br><br>
            <div class="row">
                <a href="#" ng-click="addToFavorites(phone)" class="btn btn-link favorite" style="color:rgb(32,83,178)"><i><img src="http://icons.iconarchive.com/icons/graphicloads/100-flat/256/heart-favourite-icon.png" alt=""></i> Добави в любими</a>
                <a href="#" ng-click="addToCompare(phone)" class="btn btn-link compare" style="color:rgb(32,83,178)"><i><img src="https://cdn2.iconfinder.com/data/icons/flat-arrows/100/arrow-04-128.png" alt=""></i> Сравни</a>
            </div>
        </article>
    </div>
</section>