<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="../node_modules/angular/angular.min.js"></script>
  </head>
  <body ng-app="">
    <header>
      <img src="/images/logo.png" alt="Logo"/>
      <input type="text"/>
      <a href="/login">Вход</a>
      <a href="/registration">Регистрация</a>    
    </header>
    <main >
    {{{body}}}
    </main>
  </body>
</html>
