<h1>Вход</h1>

<fieldset id="login">
    <form action="/login" method="post">
    <label for="username">Електронна поща
        <input id="username" type="text" name="username"/>
        </label>
        <label for="password">Парола
        <input id="password" type="password"  name="password" />
        </label>
        <button>Вход</button>
    </form>

    <div class='error'>
        {{!-- {{message}} --}}
    </div>
</fieldset>