<fieldset>
    <label for="name">Име *
    <input type="text" id="name">
    </label>
    <label for="lastName">Фамилия *
    <input type="text" id="lastName">
    </label>
    <label for="mail">E-mail *
    <input type="text" id="mail">
    </label>
    <label for="phone">Телефон *
    <input type="text" id="phone">
    </label>
    <label for="pass">Парола *
    <input type="text" id="pass">
    </label>
    <label for="repeatPass">Потвърдете паролата *
    <input type="text" id="repeatPass">
    </label>
    <button id="cancel">Отказ</button>
    <button id="register">Запазване</button>
</fieldset>