body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-image: url('background.jpg');
}

a {
    color: #00B7FF;
}

div['ng-view'] {
    transition: all linear 0.5s;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border: solid 2px black;
    box-sizing: border-box;
    padding: 10px;
}

header>img {
    width: 300px;
}

header>input {
    width: 200px;
    margin-left: 2em;
    margin-right: 2em;
}

header>span {
    width: 5%;
}

header>input,
header>span {
    margin-top: -2em;
    display: inline-block;
}

.mendatory {
    color: rgb(172, 37, 37);
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

footer {
    background-color: rgb(242, 242, 242);
}

footer article h5 {
    color: black;
    font-weight: bold;
    padding: 5px;
}

footer article ul li {
    padding: 5px;
}

footer article ul li a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

footer a img {
    font-size: 1.4em !important;
    color: black !important
}

#payment img {
    width: 4em;
    height: 4em;
}

header a {
    color: rgb(33, 33, 122);
    padding: 2px;
}

.purchase button {
    color: white !important;
    width: 7em !important;
    margin: auto;
    border: none;
    margin-bottom: 5px !important;
}

.purchase h3 {
    color: rgb(146, 20, 20);
}

.purchase a,
.purchase a :hover {
    color: white !important;
}

div.productsListing span img {
    margin-top: 2em;
    height: 115px;
    width: 100px;
}

div.productsInfo div.price {
    background-color: rgb(218, 216, 216);
}

div.productsInfo div.price h3 {
    display: inline-block;
}

div.productsInfo div.price+div {
    margin-top: 3em !important;
}

div.productsInfo div.price+div ul li {
    list-style: disc;
}

div.productsInfo div button {
    margin-top: 0.7em;
}

i img {
    width: 20px;
    height: 20px;
}

.characteristics {
    margin-top: 2em;
}

#phonePic {
    height: 450px;
    width: 400px;
}

.purchase {
    width: 20%;
    display: inline-block;
}

.purchase h3 {
    color: rgb(146, 20, 20);
}

.rzslider .rz-pointer {
    top: -9px !important;
    z-index: 3 !important;
    width: 10px !important;
    height: 22px !important;
    cursor: pointer !important;
    background-color: #0DB9F0 !important;
    border-radius: 16px !important;
}

.rzslider .rz-pointer::after {
    position: absolute !important;
    top: 7px !important;
    left: 3px !important;
    width: 8px !important;
    height: 8px !important;
    background: #0DB9F0 !important;
    border-radius: 4px !important;
    content: '' !important;
}

.rzslider .rz-selection {
    z-index: 2 !important;
    background: #0DB9F0 !important;
    border-radius: 23px !important;
    height: 6px !important;
}

.rz-bubble.rz-limit.rz-ceil {
    display: none;
}

.rz-bubble.rz-limit.rz-floor {
    display: none;
}

.rz-bubble.rz-model-value,
.rz-bubble.rz-model-high {
    font-size: 1.4em;
}

.animate.ng-enter {
    -webkit-transition: 1s linear all;
    /* Chrome */
    transition: 1s linear all;
    opacity: 0;
}

.animate.ng-enter.ng-enter-active {
    opacity: 1;
}

.animate.ng-leave {
    transition: 0.5s linear all;
    opacity: 1;
}

.animate.ng-leave.ng-leave-active {
    opacity: 0;
}

.animateSearch.ng-enter {
    -webkit-transition: 1s linear all;
    /* Chrome */
    transition: 1s linear all;
    opacity: 0;
}

.animateSearch.ng-enter.ng-enter-active {
    opacity: 1;
}

.animateSearch.ng-leave {
    transition: 0.5s linear all;
    opacity: 1;
}

.animateSearch.ng-leave.ng-leave-active {
    opacity: 0;
}

ul {
    padding: 0;
}

.buy {
    width: 7em !important;
    margin-bottom: 5px !important;
}

option {
    font-size: 1.5em;
}

#searchDiv {
    z-index: 1 !important;
    position: absolute;
    left: -15px;
    background-color: #FFFFFF;
    width: 500px;
    border-radius: 5px;
}

#searchDiv a {
    color: #00ccff
}

div.form-group {
    position: relative;
}

#dropMenu,
#dropMenu2,
#dropMenu3,
#dropMenu4 {
    position: absolute;
    background: #d9dacf;
    border-radius: 5px;
    padding: 10px;
    z-index: 1;
    width: 350px;
}

#dropMenu,
#dropMenu2 {
    width: 215px;
}

#dropMenu3,
#dropMenu4 {
    right: 10px;
}

#dropMenu button,
#dropMenu2 button {
    width: 150px;
}

#dropMenu button a,
#dropMenu2 button a {
    color: black !important;
}

#navigation li img:first-child {
    margin-right: 1em !important;
}

.thumbnail {
    height: 450px;
    width: 450px;
}

.favorite,
.compare {
    margin-bottom: 1em !important;
    margin-top: -2em !important;
}

.row {
    margin-left: 0px !important;
    margin-right: 0px !important;
}

main {
    background-color: white;
    padding: 20px;
}

.popUp.ng-hide {
    opacity: 0;
}

.popUp.ng-hide-add,
.popUp.ng-hide-remove {
    transition: all linear 0.5s;
}

#popUp.ng-hide {
    opacity: 0
}

#popUp.ng-hide-add,
#popUp.ng-hide-remove {
    transition: all linear 0.5s;
}

div#comparePanel table tr td {
    height: 58px !important;
    text-align: center;
}

div#comparePanel table tr th {
    text-align: center;
}

#logo {
    margin-top: -2em;
}

#adminPanel {
    padding: 20px;
    position: fixed;
    top: 260px;
    left: 1150px;
    z-index: 2;
    background-color: gray;
    border-radius: 5px;
}

#adminPanel input {
    display: block;
    margin-bottom: 5px;
}

.nav.navbar-nav {
    width: 100% !important;
}

.nav.navbar-nav li {
    font-size: 1.2em;
    text-align: center;
    width: 15%;
}

div#productsToBuy td img,
div#favoriteProducts td img {
    height: 30px;
    width: 30px;
    cursor: pointer;
}

button a {
    color: white;
}

div#checkout span.step {
    background-color: rgb(168, 69, 69);
    color: white;
    text-align: center;
    height: 60px;
}

div#checkout h2 {
    height: 60px;
    box-sizing: border-box;
    margin: 0px;
}

div#checkout div#adressDiv {
    height: 60px;
    box-sizing: border-box
}

div#checkout span img {
    height: 40px;
    width: 40px;
    margin-top: 1em;
    cursor: pointer;
}

.adminButtons {
    float: right;
    margin-right: 10px;
}

#navigation {
    background-color: #2c3e50;
    padding: 5px;
    border-radius: 5px;
}

a:hover {
    cursor: pointer;
}

#commentBox {
    border-radius: 6px;
    margin-bottom: 10px;
}

#commentBox div {
    padding: 5px;
    border: 2px solid #1881E9;
    width: 40%;
    border-radius: 5px;
}

#commentBox strong {
    font-size: 1.6em;
}

#myTabContent {
    padding: 10px;
}

#tabContent {
    margin-top: 10px;
}

.thumbnail {
    padding: 0px;
}

.panel {
    position: relative;
}

.panel>.panel-heading:after,
.panel>.panel-heading:before {
    position: absolute;
    top: 11px;
    left: -16px;
    right: 100%;
    width: 0;
    height: 0;
    display: block;
    content: " ";
    border-color: transparent;
    border-style: solid solid outset;
    pointer-events: none;
}

.panel>.panel-heading:after {
    border-width: 7px;
    border-right-color: #f7f7f7;
    margin-top: 1px;
    margin-left: 2px;
}

.panel>.panel-heading:before {
    border-right-color: #ddd;
    border-width: 8px;
}

#addComment {
    font-size: 10px;
}

.articleTech {
    width: 40%;
    margin: auto;
}

h2#totalPrice {
    text-align: right;
}

div#paymentDiv+div label:first-of-type {
    margin-right: 1em;
}

div#paymentDiv+div {
    text-align: center;
}

div#confirm+div,
div#adressDiv+div {
    margin-left: 7em !important;
}

div#finalPrice {
    margin-top: 2em;
}

#finalMessage {
    text-align: center;
}

button.close {
    margin: 0 !important;
}

@media screen and (max-width:481px) {
    body {
        padding: 0px;
    }
    #dropMenu4 {
        right: -60px;
        width: 250px;
    }
    #dropMenu3 {
        right: -120px;
        width: 250px;
    }
}

ul.nav.nav-tabs li a {
    color: #00ccff
}

ul.nav.nav-tabs li.active a {
    color: black
}

article h4 {
    color: #00ccff;
}

#dropMenu3 a,
#dropMenu4 a {
    color: #000000
}

footer a {
    color: #00ccff;
}

.userCards {
    border: 2px solid black;
    padding: 5px;
    border-radius: 5px;
    width: 20%;
    display: inline-block;
    margin-right: 10px;
}

.userCards .close {
    color: black;
    background-color: white;
    font-size: 14px;
}

.userCards .close:hover {
    color: black
}

.warningReg {
    font-size: 2em;
}

#slides_control>div {
    height: 600px;
}

#slides_control>div img {
    margin: auto;
    width: 50%;
    height: 550px;
}

#slides_control {
    top: 40px;
    position: relative;
    width: 100%;
    height: 600px;
}

section h1 {
    display: inline-block;
    width: 70%;
}

img.avatar {
    border-radius: 50%;
}