body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border: solid 2px black;
    box-sizing: border-box;
    padding: 10px;
}

header>img {
    width: 300px;
}

header>input {
    width: 200px;
    margin-left: 2em;
    margin-right: 2em;
}

header>span {
    width: 5%;
}

header>input,
header>span {
    margin-top: -2em;
    display: inline-block;
}