body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border: solid 2px black;
    box-sizing: border-box;
    padding: 10px;
}

header>img {
    width: 300px;
}

header>input {
    width: 200px;
    margin-left: 2em;
    margin-right: 2em;
}

header>span {
    width: 5%;
}

header>input,
header>span {
    margin-top: -2em;
    display: inline-block;
}

.mendatory {
    color: rgb(172, 37, 37);
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

footer {
    background-color: rgb(242, 242, 242);
    width: 100%;
    display: inline-block;
}

footer article {
    width: 16%;
    float: left;
    margin-top: 1em;
    margin-left: 3em;
}

footer article h5 {
    color: black;
    font-weight: bold;
    padding: 5px;
}

footer article ul {
    list-style: none;
}

footer article ul li {
    padding: 5px;
}

footer article ul li a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

footer ul li {
    text-align: left;
    padding: 5px;
}

footer h5~a {
    float: left;
}

footer a img {
    width: 30px;
    height: 30px;
    margin-left: 10px;
}

#payment img {
    width: 4em;
    height: 4em;
}

header a {
    color: rgb(33, 33, 122);
    padding: 2px;
}

aside {
    width: 30%;
    display: inline-block;
}

aside div {
    width: 30%;
    display: inline-block;
}

section article {
    width: 50%;
}