<div id="checkout" ng-hide="final">
    <div id="adressDiv" class="row">
        <span class="col-sm-1 col-xs-2 step"><strong>1</strong> СТЪПКА</span>
        <h2 class="col-xs-6">Адрес за доставка</h2>
        <span class="pull-right"><img ng-click="adress=true" ng-hide="adress" src="./images/plus.png" alt=""></span>
        <span class="pull-right"><img ng-click="adress=false" ng-show="adress" src="./images/minus.png" alt=""></span>
    </div>
    <div class="row popUp" ng-show="adress">
        <form class="form-horizontal">
            <div class="form-group">
                <label for="adress" class="col-xs-2 control-label">Адрес (улица, №, ет., ап.)
                <span class="mendatory">*</span>
            </label>
                <div class="col-xs-6">
                    <input type="text" ng-model="userAdress" name="adress" class="form-control" id="adress">
                </div>
            </div>
            <div class="form-group">
                <label for="city" class="col-xs-2 control-label">Населено място 
            <span class="mendatory">*</span>
                </label>
                <div class="col-xs-6">
                    <input type="text" ng-model="userCity" name="city" class="form-control" id="city">
                </div>
            </div>
        </form>
    </div><br>
    <div id="confirm" class="row">
        <span class="col-sm-1 col-xs-2 step"><strong>2</strong> СТЪПКА</span>
        <h2 class="col-xs-6">Потвърждаване</h2>
        <span class="pull-right"><img ng-click="confirm=true" ng-hide="confirm" src="./images/plus.png" alt=""></span>
        <span class="pull-right"><img ng-click="confirm=false" ng-show="confirm" src="./images/minus.png" alt=""></span>
    </div>
    <div class="row popUp" ng-show="confirm" ng-if="userAdress.length>0 && userCity.length>0">
        <div class="col-xs-4">
            <h4>Адрес за доставка</h4>
            <ul class="list-group">
                <li class="list-group-item">
                    <strong>Име:</strong><span>{{userInSess.firstName}} {{userInSess.lastName}}</span>
                </li>
                <li class="list-group-item">
                    <strong>Адрес:</strong><span>{{userAdress}}</span>
                </li>
                <li class="list-group-item">
                    <strong>Населено място:</strong><span>{{userCity}}</span>
                </li>
                <li class="list-group-item">
                    <strong>Телефонен номер:</strong><span>{{userInSess.phone}}</span>
                </li>
            </ul>
        </div>
        <div class="col-xs-3">
            <h4>Вид плащане</h4>
            <ul class="list-group">
                <li class="list-group-item">
                    <p>Наложен платеж</p>
                </li>
            </ul>
        </div>
        <div>
            <table class="table table-striped table-hover table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th>Продукт</th>
                        <th>Количество</th>
                        <th>Единична цена</th>
                        <th>Цена</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="product in userInSess.products">
                        <td><img height="90px" width="90px" src="{{product.pictures[0]}}" alt="" /><span>{{product.title}}</span> </td>
                        <td>
                            {{product.quantity}}
                        </td>
                        <td>{{product.price}} лв</td>
                        <td class="productPrice">{{product.price*product.quantity}} лв</td>

                    </tr>
                </tbody>
            </table>
        </div>
        <div id="finalPriceDiv">
            <h2 id="totalPrice"> Крайна сума: {{getTotal()}} лв</h2>
        </div>
        <div class="row">
            <button ng-click="finalPurchase(userInSess.products)" class="btn btn-danger pull-right">Финализирай поръчката</button>
        </div>
    </div>
</div>

<div id="finalMessage" ng-show="final">
    <h4>Поздравления! Вия успешно финализирахте своята поръчка!</h4>
    <p>Доставката Ви ще пристигне между 3-5 работни дни.</p>
    <p>Благодарим Ви!</p>
    <a href="/" ng-click="final=false">Обратно към началната ни страница</a>
</div>