<section class="row">
    <h1> {{pageTitle}} </h1>

    <aside class="col-sm-3">
        <h3>Резултати</h3>

        <div class="col-sm-12">
            <h4> Цена в лева </h4>
            <rzslider rz-slider-model="slider.minValue" rz-slider-high="slider.maxValue" rz-slider-options="slider.options"></rzslider>
        </div>
        <div>

            <div class="col-sm-12">
                <h4>Марка</h4>
                <ul>
                    <li ng-repeat="brand in brands"><input type="checkbox" ng-model='search.brand' ng-true-value="'{{brand}}'" ng-false-value=''> {{brand}} </li>
                </ul>
            </div>
            <div class="col-sm-12">
                <h4>Капацитет RAM</h4>
                <ul>
                    <li ng-repeat="ram in rams"><input type="checkbox" ng-model='search.ram' ng-true-value="'{{ram}}'" ng-false-value=''> {{ram}} </li>
                </ul>
            </div>
            <div class="col-sm-12">
                <h4>Капацитет HDD</h4>
                <ul>
                    <li ng-repeat="hdd in hdds"><input type="checkbox" ng-model='search.hdd' ng-true-value="'{{hdd}}'" ng-false-value=''> {{hdd}} </li>
                </ul>
            </div>
            <div class="col-sm-12">
                <h4>Размер на екрана в INCH</h4>
                <ul>
                    <li ng-repeat="ds in displaySizes"><input type="checkbox" ng-model='search.displaysize' ng-true-value="'{{ds}}'" ng-false-value=''> {{ds}} </li>
                </ul>
            </div>
            <div class="col-sm-12">
                <h4>Операционна система</h4>
                <ul>
                    <li ng-repeat="os in oss"><input type="checkbox" ng-model='search.os' ng-true-value="'{{os}}'" ng-false-value=''> {{os}} </li>
                </ul>
            </div>
            <div class="col-sm-12">
                <h4>Тип процесор</h4>
                <ul>
                    <li ng-repeat="pr in processors"><input type="checkbox" ng-model='search.pr' ng-true-value="'{{pr}}'" ng-false-value=''> {{pr}} </li>
                </ul>
            </div>
    </aside>
    <div class="col-sm-8 productsListing">
        <article class='animate' class="col-sm-12" ng-repeat="computer in computers | filter:search.brand | filter:search.displaysize | filter:search.ram | filter:search.os | filter:search.hdd | filter:search.pr | sizeFilter:slider">
            <span class="col-sm-2" style="float:left"><img ng-src="{{computer.pictures[0]}}" alt=""/></span>
            <div class="col-sm-7" class="compInfo">
                <h4> {{computer.title}} </h4>
                <ul>
                    <li>Капацитет RAM: {{computer.ram}} </li>
                    <li>Размер на екрана в инчове: {{computer.displaysize}} </li>
                    <li>Тип процесор: {{computer.processor}}</li>
                    <li>Операционна система: {{computer.os}}</li>
                </ul>
            </div>
            <span class="purchase col-sm-3"><h3> {{computer.price}}<sup>00</sup> лв</h3>
                <br>
                <button class="buy btn btn-danger" ng-click='addToCart(computer)'>КУПИ</button>
                <br>
                <button class="info btn btn-info"><a ng-href="./computers/{{computer._id}}">ВИЖ ОЩЕ</a></button>
            </span>
            <br><br>
            <div class="row">
                <a href="#" class="btn btn-link favorite" ng-click="addToFavorites(computer)" style="color:rgb(32,83,178)"><i><img src="http://icons.iconarchive.com/icons/graphicloads/100-flat/256/heart-favourite-icon.png" alt=""></i> Добави в любими</a>
                <a href="#" class="btn btn-link compare" ng-click="addToCompare(computer)" style="color:rgb(32,83,178)"><i><img src="https://cdn2.iconfinder.com/data/icons/flat-arrows/100/arrow-04-128.png" alt=""></i> Сравни</a>
            </div>
        </article>
    </div>
</section>