<div class="productsInfo" ng-repeat="comp in computers">
    <div class="row">
        <h1>{{comp.title}}</h1>
        <hr>
        <div class="col-md-5">
            <img class="thumbnail" ng-src="{{comp.pictures[0]}}" alt="">
        </div>
        <div class="col-md-4">
            <div class="col-md-12 price">
                <h3> {{comp.price}}<sup>00</sup>лв </h3>
                <button class="btn btn-danger pull-right" ng-click='addToCart(comp)'>Купи</button>
                <hr>
                <a href="#" ng-click="addToFavorites(comp)" class="btn btn-link pull-left" style="color:rgb(32,83,178)"><i><img src="http://icons.iconarchive.com/icons/graphicloads/100-flat/256/heart-favourite-icon.png" alt=""></i> Добави в любими</a>
                <a href="#" ng-click="addToCompare(comp)" class="btn btn-link" style="color:rgb(32,83,178)"><i><img src="https://cdn2.iconfinder.com/data/icons/flat-arrows/100/arrow-04-128.png" alt=""></i> Сравни</a>
            </div>
            <div class="col-md-12">
                <ul>
                    <li><strong>Капацитет RAM:</strong> {{comp.ram}} </li>
                    <li><strong>Капацитет HDD:</strong> {{comp.hdd}} </li>
                    <li><strong>Размер на екрана в INCH:</strong> {{comp.displaysize}} </li>
                    <li><strong>Тип процесор:</strong> {{comp.processor}}</li>
                    <li><strong>Операционна система:</strong> {{comp.os}}</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row" class="characteristics">
        <ul class="nav nav-tabs">
            <li><a data-toggle="tab">Характеристика</a></li>
        </ul>
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade active in">
                <table class="table table-striped table-hover ">
                    <tbody>
                        <tr>
                            <td>МАРКА</td>
                            <td>{{comp.brand}}</td>
                        </tr>
                        <tr>
                            <td>МОДЕЛ</td>
                            <td> {{comp.model}} </td>
                        </tr>
                        <tr>
                            <td>ТИП ПРОЦЕСОР</td>
                            <td> {{comp.processor}} </td>
                        </tr>
                        <tr>
                            <td>КАПАЦИТЕТ RAM</td>
                            <td> {{comp.ram}} </td>
                        </tr>
                        <tr>
                            <td>КАПАЦИТЕТ HDD</td>
                            <td> {{comp.hdd}} </td>
                        </tr>
                        <tr>
                            <td>РАЗМЕР НА ЕКРАНА В INCH</td>
                            <td> {{comp.displaysize}} </td>
                        </tr>
                        <tr>
                            <td>РЕЗОЛЮЦИЯ</td>
                            <td> {{comp.resolution}} </td>
                        </tr>
                        <tr>
                            <td>ОПЕРАЦИОННА СИСТЕМА</td>
                            <td> {{comp.os}} </td>
                        </tr>
                        <tr>
                            <td>ТИП БАТЕРИЯ</td>
                            <td> {{comp.battery}} </td>
                        </tr>
                        <tr>
                            <td>ТЕГЛО</td>
                            <td> {{comp.weight}} </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>