<div>
    <form ng-submit='logIn(loginUser)' ng-controller='MainController' class="form-horizontal">
        <fieldset>
            <legend>Вход</legend>
            <div class="form-group">
                <label for="inputEmail" class="col-lg-2 control-label">E-mail
            <span class="mendatory">*</span>
        </label>
                <div class="col-lg-6">
                    <input type="text" name="username" ng-model="loginUser.user" class="form-control" id="inputEmail">
                </div>
            </div>
            <div class="form-group">
                <label for="inputPassword" class="col-lg-2 control-label">Парола
            <span class="mendatory">*</span>
        </label>
                <div class="col-lg-6">
                    <input type="password" id='passwordInput' name="password" ng-model='loginUser.password' class="form-control" id="inputPassword">
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-6 col-lg-offset-2">
                    <button type="submit" class="btn btn-primary">Вход</button>
                </div>
            </div>



            <div class='row'>
                <div class='col-lg-2'></div>
                <div class='alert alert-success col col-lg-4 popUp' ng-show='successMsg'> {{successMsg}} </div>
            </div>


            <div class='row'>
                <div class='col-lg-2' ></div>
                <div class='alert alert-danger col-lg-4 popUp' ng-show='errorMsg'> {{errorMsg}} </div>

            </div>

        </fieldset>
    </form>

</div>