<div ng-controller="adminCtrl">
    <div ng-show='responseMsg' id='popUp' class="alert alert-dismissible alert-success"> {{responseMsg}} </div>
    <div class="productsInfo" ng-repeat="phone in phones" ng-show='editMode==false'>
        <div class="row">
            <h1>{{phone.title}}</h1>
            <span style='float:right' ng-show='userInSess.permission == "admin"'><button class="btn btn-warning" ng-click='editProduct(phone)'> EDIT </button></span>
            <hr>
            <div class="col-md-5">
                <img class="thumbnail" ng-src="{{phone.pictures[0]}}" alt="">
            </div>
            <div class="col-md-4">
                <div class="col-md-12 price">
                    <h3> {{phone.price}}<sup>00</sup>лв </h3>
                    <button class="btn btn-danger pull-right" ng-click='addToCart(phone)'>Купи</button>
                    <hr>
                    <a href="#" ng-click="addToFavorites(phone)" class="btn btn-link pull-left" style="color:rgb(32,83,178)"><i><img src="http://icons.iconarchive.com/icons/graphicloads/100-flat/256/heart-favourite-icon.png" alt=""></i> Добави в любими</a>
                    <a href="#" ng-click="addToCompare(phone)" class="btn btn-link" style="color:rgb(32,83,178)"><i><img src="https://cdn2.iconfinder.com/data/icons/flat-arrows/100/arrow-04-128.png" alt=""></i> Сравни</a>
                </div>
                <div class="col-md-12">
                    <ul>
                        <li><strong>Процесор:</strong> {{phone.processor}}</li>
                        <li><strong>Размер на екрана в инчове:</strong> {{phone.displaysize}}"</li>
                        <li><strong>RAM:</strong> {{phone.ram}}</li>
                        <li><strong>Задна камера:</strong> {{phone.rearcamera}}</li>
                        <li><strong>DUAL SIM</strong></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row" class="characteristics">
            <ul class="nav nav-tabs">
                <li ng-class="{'active': selectedTab == 1}"> <a ng-click='selectedTab = 1'>Характеристика</a></li>
                <li ng-class="{'active': selectedTab == 2}"> <a ng-click='selectedTab = 2'> Ревюта </a></li>
            </ul>
            <div id="myTabContent" class="tab-content">
                <div ng-show='selectedTab == 1' id='popUp'>
                    <table class="table table-striped table-hover">
                        <tbody>
                            <tr>
                                <td>МАРКА</td>
                                <td>{{phone.brand}}</td>
                            </tr>
                            <tr>
                                <td>МОДЕЛ</td>
                                <td> {{phone.model}} </td>
                            </tr>
                            <tr>
                                <td>ПРОЦЕСОР</td>
                                <td> {{phone.processor}} </td>
                            </tr>
                            <tr>
                                <td>РАЗМЕР НА ЕКРАНА В ИНЧОВЕ</td>
                                <td> {{phone.displaysize}} </td>
                            </tr>
                            <tr>
                                <td>РЕЗОЛЮЦИЯ</td>
                                <td> {{phone.resolution}} </td>
                            </tr>
                            <tr>
                                <td>ВГРАДЕНА ПАМЕТ</td>
                                <td> {{phone.iternalmemory}} </td>
                            </tr>
                            <tr>
                                <td>RAM ПАМЕТ</td>
                                <td> {{phone.ram}} </td>
                            </tr>
                            <tr>
                                <td>ЗАДНА КАМЕРА</td>
                                <td> {{phone.rearcamera}} </td>
                            </tr>
                            <tr>
                                <td>ПРЕДНА КАМЕРА</td>
                                <td> {{phone.frontcamera}} </td>
                            </tr>
                            <tr>
                                <td>ОПЕРАЦИОННА СИСТЕМА</td>
                                <td> {{phone.os}} </td>
                            </tr>
                            <tr>
                                <td>ТЕГЛО</td>
                                <td> {{phone.weight}} </td>
                            </tr>
                            <tr>
                                <td>ТИП БАТЕРИЯ</td>
                                <td> {{phone.battery}} </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div ng-show='selectedTab == 2' id='popUp' class='row'>
                    <div class="col-sm-5">
                        <div class="panel panel-default" ng-repeat='comment in phone.comments'>
                            <div class="panel-heading">
                                <strong>{{comment.user}}</strong> <span class="text-muted">{{comment.date}}</span>
                            </div>
                            <div class="panel-body">
                                {{comment.text}}
                            </div>
                        </div>


                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <strong>{{userInSess.firstName}}</strong>
                            </div>
                            <div class="panel-body">
                                <input type='text' class='form-control' ng-model='newComment.text'> </input>
                                <button ng-click='addCommentToProduct(phones[0])' ng-disabled="!userInSess" id='addComment' class='btn btn-info'> ДОБАВИ КОМЕНТАР </button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>





    <div class="productsInfo" id='popUp' ng-show='editMode'>
        <h1> Admin panel </h1>
        <div class="row">
            <span ng-show='userInSess.permission == "admin"' class='adminButtons'><button class="btn btn-success" ng-click='saveProduct()'> SAVE </button></span>
            <span ng-show='userInSess.permission == "admin"' class='adminButtons'><button class='btn btn-danger'  ng-click='deleteProduct()'> DELETE </button></span>
            <span ng-show='userInSess.permission == "admin"' class='adminButtons'><button class='btn btn-info' ng-click='addNewProduct()'> ADD NEW PRODUCT </button></span>
            <input type='text' style='width:40%' class='form-control' ng-model='productToEdit.title'></input>

            <hr>
            <div class="col-md-5">
                <img class="thumbnail" ng-src="{{productToEdit.pictures[0]}}" alt="">
                <label for='img'> PHOTO URL: </label>
                <input class='form-control' type='text' ng-model='productToEdit.pictures[0]'>
            </div>
            <div class="col-md-4">
                <div class="col-md-12 price">
                    <label for='input'> ЦЕНА </label>
                    <input type='number' class='form-control' ng-model='productToEdit.price'>
                    <button class="btn btn-danger pull-right" ng-click='addToCart(phone)'>Купи</button>
                    <hr>
                    <a href="#" ng-click="addToFavorites(phone)" class="btn btn-link pull-left" style="color:rgb(32,83,178)"><i><img src="http://icons.iconarchive.com/icons/graphicloads/100-flat/256/heart-favourite-icon.png" alt=""></i> Добави в любими</a>
                    <a href="#" ng-click="addToCompare(phone)" class="btn btn-link" style="color:rgb(32,83,178)"><i><img src="https://cdn2.iconfinder.com/data/icons/flat-arrows/100/arrow-04-128.png" alt=""></i> Сравни</a>
                </div>
                <div class="col-md-12">
                    <ul>
                        <li><strong>Процесор:</strong> {{productToEdit.processor}}</li>
                        <li><strong>Размер на екрана в инчове:</strong> {{productToEdit.displaysize}}"</li>
                        <li><strong>RAM:</strong> {{productToEdit.ram}}</li>
                        <li><strong>Задна камера:</strong> {{productToEdit.rearcamera}}</li>
                        <li><strong>DUAL SIM</strong></li>
                    </ul>
                </div>
            </div>
        </div>

        <div ng-init='selectedTab = 1' id='tabContent'>
            <ul class="nav nav-tabs">
                <li ng-class="{'active': selectedTab == 1}"> <a ng-click='selectedTab = 1'>Характеристика</a></li>
                <li ng-class="{'active': selectedTab == 2}"> <a ng-click='selectedTab = 2'> Ревюта </a></li>
            </ul>
            <div id='myTabContent' class="tab-content">
                <div ng-show='selectedTab == 1' id='popUp'>
                    <table class="table table-striped table-hover">
                        <tbody>
                            <td> ИЗБЕРETE КАТЕГОРИЯ </td>
                            <td><select class='form-control selectpicker' ng-controller='searchCtrl' ng-init='selectedOption = categories[0]' data-style="btn-primary"
                                    ng-model='selectedOption' ng-change='changeCat(selectedOption)' ng-options='x.name disable when x.disable for x in categories'></select></td>
                            <tr>
                                <td>МАРКА</td>
                                <td><input type='text' class='form-control' ng-model='productToEdit.brand'></td>
                            </tr>
                            <tr>
                                <td>МОДЕЛ</td>
                                <td><input type='text' class='form-control' ng-model='productToEdit.model'></td>
                            </tr>
                            <tr>
                                <td>ПРОЦЕСОР</td>
                                <td><input type='text' class='form-control' ng-model='productToEdit.processor'></td>
                            </tr>
                            <tr>
                                <td>РАЗМЕР НА ЕКРАНА В INCH</td>
                                <td><input type='text' class='form-control' ng-model='productToEdit.displaysize'></td>
                            </tr>
                            <tr>
                                <td>РЕЗОЛЮЦИЯ</td>
                                <td><input type='text' class='form-control' ng-model='productToEdit.resolution' /></td>
                            </tr>
                            <tr>
                                <td>ВГРАДЕНА ПАМЕТ</td>
                                <td><input type='text' class='form-control' ng-model='productToEdit.iternalmemory' /></td>
                            </tr>
                            <tr>
                                <td>RAM ПАМЕТ</td>
                                <td><input type='text' class='form-control' ng-model='productToEdit.ram' /></td>
                            </tr>
                            <tr>
                                <td>ЗАДНА КАМЕРА</td>
                                <td><input type='text' class='form-control' ng-model='productToEdit.rearcamera' /></td>
                            </tr>
                            <tr>
                                <td>ПРЕДНА КАМЕРА</td>
                                <td><input type='text' class='form-control' ng-model='productToEdit.frontcamera' /></td>
                            </tr>
                            <tr>
                                <td>ОПЕРАЦИОННА СИСТЕМА</td>
                                <td><input type='text' class='form-control' ng-model='productToEdit.os' /></td>
                            </tr>
                            <tr>
                                <td>ТЕГЛО</td>
                                <td><input type='text' class='form-control' ng-model='productToEdit.weight' /></td>
                            </tr>
                            <tr>
                                <td>ТИП БАТЕРИЯ</td>
                                <td><input type='text' class='form-control' ng-model='productToEdit.battery' /></td>
                            </tr>
                            <tr>

                        </tbody>
                    </table>
                </div>
                <div ng-show='selectedTab == 2' id='popUp' class='row'>
                    <div class="col-sm-5">
                        <div class="panel panel-default" ng-repeat='comment in productToEdit.comments'>
                            <div class="panel-heading">
                                <button type="button" ng-click='deleteComment(comment)' class="close" data-dismiss="alert">&times;</button>
                                <strong>{{comment.user}}</strong> <span class="text-muted">{{comment.date}}</span>
                            </div>
                            <div class="panel-body">
                                {{comment.text}}
                            </div>
                        </div>


                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <strong>{{userInSess.firstName}}</strong>
                            </div>
                            <div class="panel-body">
                                <input type='text' class='form-control' ng-model='newComment.text'> </input>
                                <button ng-click='addCommentToProduct(phones[0])'  id='addComment' class='btn btn-info'> ДОБАВИ КОМЕНТАР </button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>