<section>
    <h1> {{pageTitle}} </h1>

    <input type="checkbox" ng-model='search.os' ng-true-value="'ANDROID'" ng-false-value='' />
    <input type="checkbox" ng-model='search.ram' ng-true-value="'4 GB'" ng-false-value='' />
    <aside>
        <h3>Резултати</h3>
        <div>
            <h4>Марка</h4>
            
            
        </div>
    </aside>
    
    <article ng-repeat="phone in phones | filter:search.os | filter:search.ram">
        <span style="float:left"><img height="105px" width="100px" src="{{phone.pictures[0]}}" alt=""/></span>
        <h4> {{phone.title}} </h4>  
        <h2> {{search.os}} </h2>
        <ul>
            <li>Процесор: {{phone.cpu}} </li>
            <li>Размер на екрана в INCH: {{phone.displaysize}} </li>
            <li>Батерия: {{phone.battery}}</li>
            <li>DUAL SIM</li>
        </ul>

    </article>

    
   
</section>

<!-- <script src="./javascripts/phoneCtr.js"></script> -->
<!-- <script>
    var app = angular.module("myApp", []);

    app.controller("phonesCtrl", function($scope, $http) {
        $scope.pageTitle = "Мобилни телефони";
        $http.get("phones.json").then(function(response) {
            console.log(response.data.phones);
            $scope.phones = response.data.phones;
        });
    });
</script> -->