<!-- <div>
    <form class="form-horizontal" action="">
        <fieldset>
            <div class="form-group">
                <label for="title" class="col-lg-2 control-label">Заглавие </label>
                <div class="col-lg-6">
                    <input type="text" name="title" ng-model="" class="form-control" id="title">
                </div>
            </div>
            <div class="form-group">
                <label for="brand" class="col-lg-2 control-label">Марка </label>
                <div class="col-lg-6">
                    <input type="text" name="brand" ng-model="" class="form-control" id="brand">
                </div>
            </div>
            <div class="form-group">
                <label for="model" class="col-lg-2 control-label">Модел</label>
                <div class="col-lg-6">
                    <input type="text" name="model" ng-model="" class="form-control" id="model">
                </div>
            </div>
            <div class="form-group">
                <label for="processor" class="col-lg-2 control-label">Процесор</label>
                <div class="col-lg-6">
                    <input type="text" name="processor" ng-model="" class="form-control" id="processor">
                </div>
            </div>
            <div class="form-group">
                <label for="displaysize" class="col-lg-2 control-label">Размер на екрана </label>
                <div class="col-lg-6">
                    <input type="text" name="displaysize" ng-model="" class="form-control" id="displaysize">
                </div>
            </div>
            <div class="form-group">
                <label for="resolution" class="col-lg-2 control-label">Резолюция</label>
                <div class="col-lg-6">
                    <input type="text" name="resolution" ng-model="" class="form-control" id="resolution">
                </div>
            </div>
            <div class="form-group">
                <label for="internalMemory" class="col-lg-2 control-label">Вградена памет</label>
                <div class="col-lg-6">
                    <input type="text" name="internalMemory" ng-model="" class="form-control" id="internalMemory">
                </div>
            </div>
            <div class="form-group">
                <label for="ram" class="col-lg-2 control-label">RAM памет</label>
                <div class="col-lg-6">
                    <input type="text" name="ram" ng-model="" class="form-control" id="ram">
                </div>
            </div>
            <div class="form-group">
                <label for="rearCamera" class="col-lg-2 control-label">Задна камера</label>
                <div class="col-lg-6">
                    <input type="text" name="rearCamera" ng-model="" class="form-control" id="rearCamera">
                </div>
            </div>
            <div class="form-group">
                <label for="frontCamera" class="col-lg-2 control-label">Предна камера</label>
                <div class="col-lg-6">
                    <input type="text" name="frontCamera" ng-model="" class="form-control" id="frontCamera">
                </div>
            </div>
            <div class="form-group">
                <label for="os" class="col-lg-2 control-label">Операционна система</label>
                <div class="col-lg-6">
                    <input type="text" name="os" ng-model="" class="form-control" id="os">
                </div>
            </div>
            <div class="form-group">
                <label for="weight" class="col-lg-2 control-label">Тегло</label>
                <div class="col-lg-6">
                    <input type="text" name="weight" ng-model="" class="form-control" id="weight">
                </div>
            </div>
            <div class="form-group">
                <label for="battery" class="col-lg-2 control-label">Тип батерия</label>
                <div class="col-lg-6">
                    <input type="text" name="battery" ng-model="" class="form-control" id="battery">
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-6 col-lg-offset-2">
                    <button type="button" class="btn btn-secondary">Отмени</button>
                    <button type="submit" class="btn btn-primary">Запази</button>
                </div>
            </div>

        </fieldset>
    </form>
</div> -->

<section class="row">
    <h1> {{pageTitle}} </h1>

    <aside class="col-md-3">
        <h3>Резултати</h3>
        <div>
            <h4> Цена в лева </h4>
            <rzslider rz-slider-model="slider.minValue" rz-slider-high="slider.maxValue" rz-slider-options="slider.options"></rzslider>
        </div>
        <div>
            <div class="col-md-12">
                <h4>Марка</h4>
                <ul>
                    <li ng-repeat="brand in brands"><input type="checkbox" ng-model='search.brand' ng-true-value="'{{brand}}'" ng-false-value=''> {{brand}} </li>
                </ul>
            </div>
            <div class="col-md-12">
                <h4>Размер на екрана в инчове</h4>
                <ul>
                    <li ng-repeat="ds in displaySizes"><input type="checkbox" ng-model='search.displaysize' ng-true-value="'{{ds}}'" ng-false-value=''> {{ds}} </li>
                </ul>
            </div>
            <div class="col-md-12">
                <h4>Задна камера</h4>
                <ul>
                    <li ng-repeat="rc in rearCameras"><input type="checkbox" ng-model='search.rc' ng-true-value="'{{rc}}'" ng-false-value=''> {{rc}} </li>
                </ul>
            </div>
            <div class="col-md-12">
                <h4>Вградена памет</h4>
                <ul>
                    <li ng-repeat="im in iternalMemory"><input type="checkbox" ng-model='search.im' ng-true-value="'{{im}}'" ng-false-value=''> {{im}} </li>
                </ul>
            </div>
    </aside>
    <div class="col-md-8 productsListing" ng-controller='adminCtrl'>
        <div id='adminPanel' ng-show='editMode'>
            <h1> Admin panel </h1>
            <label for='changeName'> <strong> Промени име </strong> </label>
            <input id='changeName' class='form-control' type='text' ng-change='changeName()' ng-model='product.ime'>
            <label for='changePrice'> <strong> Промени цена </strong> </label>
            <input id='changePrice' class='form-control' type='text' ng-change='changePrice()' ng-model='product.price'>
            <button ng-click='saveProduct()' class="btn btn-success"> ЗАПАЗИ </button>
            <button ng-click='removeProduct()' class="btn btn-danger"> ИЗТРИЙ </button>
        </div>
        <article class='animate' class="col-md-12" ng-repeat="phone in phones | filter:search.brand | filter:search.displaysize:true | filter:search.rc | filter:search.im | sizeFilter:slider">
            <span class="col-md-2" style="float:left"><img ng-src="{{phone.pictures[0]}}" alt=""/></span>


            <div class="col-md-7" class="phoneInfo">
                <h4> {{phone.title}} </h4>
                <ul>
                    <li>Процесор: {{phone.cpu}} </li>
                    <li>Размер на екрана в INCH: {{phone.displaysize}} </li>
                    <li>Батерия: {{phone.battery}}</li>
                    <li>DUAL SIM</li>
                </ul>
            </div>
            <span class="purchase col-md-3"><h3> {{phone.price}}<sup>00</sup> лв</h3>
                <br>
                <button class="buy btn btn-danger" ng-click='addToCart(phone)'>КУПИ</button>
                <br>
                <button class="info btn btn-info"><a ng-href="phones/{{phone._id}}">ВИЖ ОЩЕ</a></button>
                <span ng-show='userInSess.permission == "admin"'><button class="btn btn-warning" ng-click='editProduct(phone)'> EDIT </button></span>
            </span>
            <a href="#" ng-click="addToFavorites(phone)" class="btn btn-link favorite" style="color:rgb(32,83,178)"><i><img src="http://icons.iconarchive.com/icons/graphicloads/100-flat/256/heart-favourite-icon.png" alt=""></i> Добави в любими</a>
            <a href="#" ng-click="addToCompare(phone)" class="btn btn-link compare" style="color:rgb(32,83,178)"><i><img src="https://cdn2.iconfinder.com/data/icons/flat-arrows/100/arrow-04-128.png" alt=""></i> Сравни</a>
        </article>
    </div>
</section>