<div ng-controller='adminCtrl'>
    <div ng-init='activeTab = 1' id='tabContent' ng-show='userInSess.permission != "admin" '>
        <ul class="nav nav-tabs">
            <li ng-class="{'active': activeTab == 1}"><a ng-click='activeTab = 1'>Лични данни</a></li>
           
            <li ng-class="{'active': activeTab == 3}"><a ng-click='activeTab = 3'>Обработени поръчки</a></li>
            
        </ul>

        <div id="myTabContent" class='tab-conten'>
            <div ng-show="activeTab == 1" id='popUp'>
                <div ng-repeat="user in userInfo">
                    <p><strong>Име: </strong> {{userInSess.firstName}} </p>
                    <p><strong>Фамилия: </strong> {{userInSess.lastName}} </p>
                    <p><strong>Имейл: </strong> {{userInSess.mail}} </p>
                    <p><strong>Телефон: </strong> {{userInSess.phone}} </p>
                </div>
            </div>
           
            <div ng-show="activeTab == 3" id='popUp'>
                <div>
                    <table class="table table-striped table-hover table-bordered">
                        <thead class="thead-dark">
                            <tr>
                                <th>Продукт</th>
                                <th>Единична цена</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="product in userInSess.boughtProducts">
                                <td><img height="90px" width="90px" src="{{product.pictures[0]}}" alt="" /><span>{{product.title}}</span>                                    </td>
                                <td>{{product.price}} лв</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
           
        </div>
    </div>

    <div ng-init='activeTab = 1' id='tabContent' ng-show='userInSess.permission == "admin"'>
        <ul class="nav nav-tabs">
            <li ng-class="{'active': activeTab == 1}"><a ng-click='activeTab = 1'>Лични данни</a></li>
            <li ng-class="{'active': activeTab == 2}"><a ng-click='activeTab = 2'>Изтриване на потребителите</a></li>
        </ul>

        <div id="myTabContent" class='tab-conten'>
            <div ng-show="activeTab == 1" id='popUp'>
                <div ng-repeat="user in userInfo">
                    <p><strong>Име: </strong> {{userInSess.firstName}} </p>
                    <p><strong>Фамилия: </strong> {{userInSess.lastName}} </p>
                    <p><strong>Имейл: </strong> {{userInSess.mail}} </p>
                    <p><strong>Телефон: </strong> {{userInSess.phone}} </p>
                </div>
            </div>
            <div ng-show="activeTab == 2" id='popUp'>
                <div ng-show='userDeletedMsg' id='popUp' class='alert alert-success'> {{userDeletedMsg}} </div>
                <div ng-repeat='user in userList' class='userCards'>
                   
                    <button type="button" ng-click='deleteUser(user)' class="close" data-dismiss="alert"> ИЗТРИЙ </button>
                    <p><strong>Име: </strong> {{user.firstName}} </p>
                    <p><strong>Фамилия: </strong> {{user.lastName}} </p>
                    <p><strong>Имейл: </strong> {{user.mail}} </p>
                    <p><strong>Телефон: </strong> {{user.phone}} </p>
                   
                </div>
            </div>

        </div>
    </div>

</div>